@inherits LayoutComponentBase

<div class="page">
    <div class="app-header">
        <h1>Shiny Speech</h1>
        <p>Cross-platform speech services in Blazor WebAssembly</p>
    </div>
    @Body
</div>
