aside {
    --aside-color-base: var(--color-base-purple);
    --aside-color-lightness: 54%;
    --aside-accent-color: hsl(var(--aside-color-base), var(--aside-color-lightness));
    --aside-text-lightness: 20%;
    --aside-text-accent-color: hsl(var(--aside-color-base), var(--aside-text-lightness));

    border-inline-start: 4px solid var(--aside-accent-color);
    padding: 1rem;
    background-color: hsla(
        var(--aside-color-base),
        var(--aside-color-lightness),
        var(--theme-accent-opacity)
    );
    /* Indicates the aside boundaries for forced colors users, transparent is changed to a solid color */
    outline: 1px solid transparent;
}

:global(.theme-dark) aside {
    --aside-text-lightness: 85%;
}

.title {
    line-height: 1;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--aside-text-accent-color);
}

.icon svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentcolor;
}

aside :global(a),
aside :global(a > code:not([class*='language'])) {
    color: var(--aside-text-accent-color);
}

aside :global(p),
aside.content :global(ul) {
    color: var(--theme-text);
}

:global(.theme-dark) aside :global(code:not([class*='language'])) {
    color: var(--theme-code-text);
}

aside :global(pre) {
    margin-left: 0;
    margin-right: 0;
}

.note {
    --aside-color-lightness: 42%;
    --aside-color-base: var(--color-base-blue);
}

.tip {
    --aside-color-lightness: 42%;
    --aside-color-base: var(--color-base-green);
}

.caution {
    --aside-color-lightness: 59%;
    --aside-color-base: var(--color-base-yellow);
}

.danger {
    --aside-color-lightness: 54%;
    --aside-color-base: var(--color-base-red);
}