---
export interface Props {
	message?: string;
}

import Aside from './Aside.astro';

const { message } = Astro.props as Props;
---

<Aside type="caution">
    {message || 'Android uses a foreground service!  You must have an application icon set or a drawable resource called notification in order for this background operation to work'}

    For additional information, please read <a href="/client/other/androidforeground">Android Foreground Services</a>
</Aside>
