---
type ChipColour = 'red' | 'yellow' | 'blue' | 'green' | 'indigo' | 'grey';
export interface Props {    
    text: string;
    colour?: ChipColour;
}

const { text, colour } = Astro.props as Props;

let cls = 'inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset';
switch (colour) {
    case 'red':
        cls += ' bg-red-50 text-red-800 ring-red-600/10';
        break;
    case 'yellow':
        cls += ' bg-yellow-50 text-yellow-800 ring-yellow-600/10';
        break;
    case 'blue':
        cls += ' bg-blue-50 text-blue-800 ring-blue-600/10';
        break;
    case 'green':
        cls += ' bg-green-50 text-green-800 ring-green-600/10';
        break;
    case 'indigo':
        cls += ' bg-indigo-50 text-indigo-800 ring-indigo-600/10';
        break;
    default:
        cls += ' bg-gray-50 text-gray-800 ring-gray-600/10';
        break;
}

---
<span class={cls}>{text}</span>

