---
export interface Props {
    header: string;

}
const { header } = Astro.props as Props;
---
<div class="collapse border-base-300 bg-base-100 rounded-box">
    <input type="checkbox" class="peer" />
    <div class="collapse-title bg-primary text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
        {header}
    </div>
    <div class="collapse-content bg-primary text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
        <p><slot /></p>
    </div>            
</div>