---
export interface Props {
    name: string;
    showPreviewVersion?: boolean;
}

const { name, showPreviewVersion } = Astro.props as Props;
let imgUrl: string = `https://buildstats.info/nuget/${props.name}`;
if (showPreviewVersion === true)
    imgUrl += `?includePreReleases=true`;

const nugetUrl: string = `https://www.nuget.org/packages/${name}`;
---
<a href={nugetUrl} target="_NEWWINDOW"><img src={imgUrl} /></a>