---
export interface Props {
    platforms: ('dotnet' | 'maui' | 'android' | 'ios' | 'windows' | 'blazor' | 'aspnet')[];
}

const { platforms } = Astro.props as Props;

const platformData: Record<string, { name: string; label: string; viewBox: string }> = {
    dotnet: { name: 'dotnet', label: '.NET', viewBox: '0 0 24 24' },
    maui: { name: 'maui', label: '.NET MAUI', viewBox: '0 0 24 24' },
    android: { name: 'android', label: 'Android', viewBox: '0 0 24 24' },
    ios: { name: 'ios', label: 'iOS', viewBox: '0 0 24 24' },
    windows: { name: 'windows', label: 'Windows', viewBox: '0 0 24 24' },
    blazor: { name: 'blazor', label: 'Blazor', viewBox: '0 0 24 24' },
    aspnet: { name: 'aspnet', label: 'ASP.NET', viewBox: '0 0 24 24' },
};
---
<div class="platform-support not-content">
    {platforms.map((p) => {
        const info = platformData[p];
        return info ? (
            <div class={`platform-support__item platform-support__item--${info.name}`}>
                <svg class="platform-support__icon" viewBox={info.viewBox} xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    {p === 'dotnet' && (
                        <path d="M24 8.77h-2.468v7.565h-1.425V8.77h-2.462V7.53H24zm-6.852 7.565h-4.821V7.53h4.63v1.24h-3.205v2.494h2.953v1.234h-2.953v2.604h3.396zm-6.708 0H8.882L4.78 9.863a2.896 2.896 0 0 1-.258-.51h-.036c.032.189.048.592.048 1.21v5.772H3.2V7.53h1.7l3.86 6.015c.128.196.21.34.258.43h.024a8.652 8.652 0 0 1-.048-1.296V7.53h1.446zm-7.173.58a1.478 1.478 0 0 1-1.07-.432 1.478 1.478 0 0 1-.432-1.07c0-.42.144-.773.432-1.058a1.478 1.478 0 0 1 1.07-.432c.42 0 .773.144 1.058.432.286.285.428.637.428 1.058 0 .42-.142.773-.428 1.07a1.438 1.438 0 0 1-1.058.432z" />
                    )}
                    {p === 'maui' && (
                        <path d="M11.5 2a9.5 9.5 0 1 0 0 19 9.5 9.5 0 0 0 0-19zM2 11.5C2 6.253 6.253 2 11.5 2S21 6.253 21 11.5c0 2.047-.648 3.94-1.75 5.49L7.01 4.75A9.454 9.454 0 0 1 11.5 3.5a8 8 0 1 1 0 16 8 8 0 0 1-5.49-2.19l1.06-1.06A6.47 6.47 0 0 0 11.5 18a6.5 6.5 0 0 0 0-13c-1.36 0-2.62.42-3.66 1.13L14 12.29V9h1.5v5.5H10V13h3.29L7.13 6.84A6.47 6.47 0 0 0 5 11.5c0 1.7.65 3.24 1.72 4.4l-1.06 1.06A7.96 7.96 0 0 1 3.5 11.5c0-1.93.69-3.7 1.83-5.08l12.25 12.25A9.454 9.454 0 0 1 11.5 21C6.253 21 2 16.747 2 11.5z" />
                    )}
                    {p === 'android' && (
                        <path d="M17.523 15.341a1 1 0 0 0 1-1v-5.4a1 1 0 0 0-2 0v5.4a1 1 0 0 0 1 1zm-11.046 0a1 1 0 0 0 1-1v-5.4a1 1 0 0 0-2 0v5.4a1 1 0 0 0 1 1zm8.274 5.098l1.293 1.293a.5.5 0 0 1-.707.707l-1.431-1.431A5.247 5.247 0 0 1 12 21.5a5.247 5.247 0 0 1-1.906-.492l-1.431 1.431a.5.5 0 0 1-.707-.707l1.293-1.293A4.978 4.978 0 0 1 7.477 16.5v-7.5h9.046v7.5a4.978 4.978 0 0 1-1.772 3.939zM7.477 8h9.046A4.5 4.5 0 0 0 12 4.5 4.5 4.5 0 0 0 7.477 8zm5.523-5a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5zm-2 0a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5z" />
                    )}
                    {p === 'ios' && (
                        <path d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.8-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z" />
                    )}
                    {p === 'windows' && (
                        <path d="M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801" />
                    )}
                    {p === 'blazor' && (
                        <path d="M23.834 8.101A13.912 13.912 0 0 1 10.191 19.82a10.105 10.105 0 0 1-1.994-.12 6.111 6.111 0 0 1-5.082-5.761 5.934 5.934 0 0 1 11.867-.084c.025.983-.401 1.846-1.277 1.871-.936 0-1.374-.668-1.374-1.567v-2.5a1.531 1.531 0 0 0-1.52-1.533H8.715a3.648 3.648 0 1 0 2.695 6.08l.073-.084.02.004c.15.222.337.419.554.579a2.029 2.029 0 0 0 2.435-.117 2.978 2.978 0 0 0 .756-2.834v-.084a4.461 4.461 0 0 0-8.92.238 4.84 4.84 0 0 0 3.684 4.738 8.587 8.587 0 0 0 2.667.12 12.09 12.09 0 0 0 11.857-9.862c.065-.502.089-1.01.074-1.516A10.053 10.053 0 0 0 13.8 0a14.01 14.01 0 0 0-13.8 14.01 14.01 14.01 0 0 0 23.834-5.909zM8.883 11.775a2.09 2.09 0 1 0 0 4.18 2.09 2.09 0 0 0 0-4.18z" />
                    )}
                    {p === 'aspnet' && (
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z" />
                    )}
                </svg>
                <span class="platform-support__label">{info.label}</span>
            </div>
        ) : null;
    })}
</div>
