---

type WorkType = 'feature' | 'enhancement' | 'fix' | 'chore';
export interface Props {
    type?: WorkType;
    breaking?: boolean;
    platform?: string;
    githubNumber?: number;
    contributor?: string;
    pr?: boolean;
}

const { type, breaking, platform, githubNumber, contributor, pr } = Astro.props as Props;
import GitHubIssue from './GitHubIssue';
import { Badge } from '@astrojs/starlight/components';
---

<div>
    {
        breaking ? <Badge text="BREAKING" variant="danger" /> : ''
    }
    {
        type === 'feature' ? <Badge text="Feature" /> : ''
    }
    {
        type === 'enhancement' ? <Badge text="Enhancement" variant="tip" /> : ''
    }
    {
        type === 'fix' ? <Badge text="Fix" variant="success" /> : ''
    }
    {
        type === 'chore' ? <Badge text="Chore" colour="note" /> : ''
    }
    {
        platform === 'iOS' ? <Badge text="iOS" variant="note" /> : ''
    }
    {
        platform === 'Android' ? <Badge text="Android" variant="note" /> : ''
    }
    {
        githubNumber != null ? <GitHubIssue number={githubNumber} contributor={contributor} pr={pr} /> : ''
    }
    <div><slot /></div>
</div>