---

type WorkType = 'feature' | 'enhancement' | 'fix' | 'chore';
export interface Props {
    type?: WorkType;
    breaking?: boolean;
    platform?: string;
    githubNumber?: number;
    contributor?: string;
    pr?: boolean;
}

const { type, breaking, platform, githubNumber, contributor, pr } = Astro.props as Props;
import Chip from './Chip.astro';
import GitHubIssue from './GitHubIssue';
---

<div class="flex gap-2">
    {
        breaking ? <Chip text="BREAKING" colour="red" /> : ''
    }
    {
        type === 'feature' ? <Chip text="Feature" colour="green" /> : ''
    }
    {
        type === 'enhancement' ? <Chip text="Enhancement" colour="blue" /> : ''
    }
    {
        type === 'fix' ? <Chip text="Fix" colour="yellow" /> : ''
    }
    {
        type === 'chore' ? <Chip text="Chore" colour="grey" /> : ''
    }
    {
        platform === 'iOS' ? <Chip text="iOS" colour="blue" /> : ''
    }
    {
        platform === 'Android' ? <Chip text="Android" colour="green" /> : ''
    }
    {
        githubNumber != null ? <GitHubIssue number={githubNumber} contributor={contributor} pr={pr} /> : ''
    }
</div>
<div class="flex gap-2">
<slot />
</div>